<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Welkom</title>
    <link rel="stylesheet" th:href="@{/css/security.css}"></link>
</head>
<body>
<h1>Welkom</h1>
<a th:href="@{/login}" sec:authorize="isAnonymous()"><button>Inloggen</button></a>
<ul>
    <li><a th:href="@{/offertes}">Offertes</a></li>
    <li><a th:href="@{/werknemers}">Werknemers</a></li>
</ul>
<div sec:authorize="hasAuthority('manager')">
    Enkel gebruikers met de role manager zien deze tekst
</div>
<div sec:authorize="isAuthenticated()">
    Enkel ingelogde gebruikers zien deze tekst
</div>
<form method="post" th:action="@{/logout}" sec:authorize="isAuthenticated()">
    <button><th:block sec:authentication="name"></th:block> Uitloggen</button>
</form>
</body>
</html>